.weather-content
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title Weather
        .panel-body
          %form#weather-form.form-inline
            .form-group
              %p
                Input City name
              %input#weather-form-city.form-control{placeholder: " ex) 新宿=> shinjuku", type: "text"}/
            %button.btn.btn-primary{:type => "submit"} Send
            %i#form-spinner.fa.fa-spinner.fa-spin{"aria-hidden": "true"}
          #form-error.alert.alert-danger
            %p
              The city name you entered above is invalid.
              %br/
              Edit it and try again.
          #form-result.alert.alert-info
            %p
              The weather in
              %b#result-city-name
              is
              = succeed "." do
                %b#result-weather
              %br/
              The temperature is
              = succeed "\u00B0C." do
                %b#result-temp
              %br/
              %span#result-datetime