// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  .contents{
    height: 100vh;
  }
}
